@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
}

@font-face {
  font-family: 'UTM Penumbra';
  src: url('/assets/fonts/UTM-PenumbraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Aquarelle';
  src: url('/assets/fonts/UTM-Aquarelle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.object-position-xl {
  object-position: center -140px;
}

@media (min-width: 1024px) {
  .object-position-xl {
    object-position: center -150px;
  }
}

@media (min-width: 1280px) {
  .object-position-xl {
    object-position: center -190px;
  }
}

.gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to bottom, #24180d, #f9f9fc);
}

.card-shadow {
  box-shadow: 2.12px 2.12px 12.71px 0px rgba(170, 170, 170, 0.15);
}

.bg-rock-art {
  backgroundimage: "url('/assets/images/mountain2.png')";
  backgroundsize: 'cover';
  backgroundposition: 'bottom';
  backgroundcolor: '#da8200';
  backgroundblendmode: 'overlay';
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.article-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 24px;
  font-size: 16px;
}

.article-content h1,
.article-content h2 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.article-content h1 {
  font-size: 1.5em;
}

.article-content h2 {
  font-size: 1em;
  text-align: justify;
}

.article-content p {
  margin-bottom: 1.2em;
  text-align: justify;
}

.article-content span {
  display: block;
  text-align: justify;
  margin-bottom: 1.2em;
}

.article-content img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 24px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
